@model List<LabTutor.Student>
@{int rowNo = 0;}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        margin-top: 40px;
        padding: 0;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }

    #calendar {
        /*width: 95%;*/
        margin: 0 auto;
    }

    /* css for timepicker */
    .ui-timepicker-div dl {
        text-align: left;
    }

        .ui-timepicker-div dl dt {
            height: 25px;
        }

        .ui-timepicker-div dl dd {
            margin: -25px 0 10px 65px;
        }

    /* table fields alignment*/
    .alignRight {
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .alignLeft {
        text-align: left;
        padding-bottom: 10px;
    }

    .dialog-input {
        width: 60%;
    }

    #moduleList, option {
        font-size: 90%;
    }

    .breadcrumb {
        background-color: transparent;
        margin-top: 35px;
        font-size: 20px;
    }

    thead {
        background-color: #deedf7;
    }

    tutorName {
        color: black;
    }

    .modal {
        text-align: center;
    }

        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    #modalTable {
        margin: 0px 15px;
        width: 95%;
    }

    .modal-body {
        margin: 10px;
    }
</style>

<ol class="breadcrumb">
    <li class="active">Allocation</li>
</ol>

<div class="form-horizontal">

    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        <li class="active cursorPointer" data-toggle="tab" onclick="tabChange(1)"><a>Semester 1 </a></li>
        <li class="cursorPointer" data-toggle="tab" onclick="tabChange(2)"><a>Semester 2 </a></li>
    </ul>

    <div id='calendar'></div>

</div>

<br />

<button class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Timetable")'">Edit Timetable</button>
<button class="btn btn-default" onclick="location.href='@Url.Action("populateDatabase", "Allocate")'">Populate Datebase</button>
<button class="btn btn-default" onclick="location.href='@Url.Action("Create", "Allocate")'">Create Allocation</button>
<button class="btn btn-default" onclick="location.href='@Url.Action("Delete", "Allocate")'">Delete Allocation</button>
<button class="btn btn-default" id="publishButton" value="Publish Allocation" onclick="location.href='@Url.Action("changePublishState", "Allocate")'">Publish Allocation</button>

<br /><br /><br />

<!-- All Students Table -->
<table id="myTable" class="table table-hover table-bordered table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Degree</th>
            <th>Year</th>
            <th>Max Hours</th>
            <th name="test">Working Hours(S1)</th>
            <th>Working Hours(S2)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.workingHour1 == 0 && item.workingHour2 == 0)
            {
        @:<tr class="danger cursorPointer" data-toggle="modal" data-target="#studentDetailModal" onclick="passStudentId(@item.studentId)">
            }
            else
            {
        @:<tr id="tutor_@item.studentId" class="cursorPointer" data-toggle="modal" data-target="#studentDetailModal" onclick="passStudentId(@item.studentId)">
                }

        <td>@(rowNo += 1)</td>
        <td>@item.fName @item.lName</td>
        <td>@item.degree</td>
        <td>@item.year</td>
        <td>@item.maxHour</td>
        <td>@item.workingHour1</td>
        <td>@item.workingHour2</td>

        @:</tr>
        }
    </tbody>
</table>


<!-- student detail Modal -->
<div class="modal fade" id="studentDetailModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Degree: </label>
                            <degree></degree>
                        </div>
                        <div class="form-group">
                            <label>Year: </label>
                            <year></year>
                        </div>
                        <div class="form-group">
                            <label>Max Working Hour: </label>
                            <maxhour></maxhour>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Matriculation Number: </label>
                            <matricnumber></matricnumber>
                        </div>
                        <div class="form-group">
                            <label>NI Number: </label>
                            <ni></ni>
                        </div>
                        <div class="form-group">
                            <label>Payment Rate: </label>
                            <paymentrate></paymentrate>
                        </div>
                    </div>

                    <div class="form-group" id="liked">
                        <label class="col-sm-4">Favoured modules: </label>
                        <liked></liked>
                    </div>
                    <div class="form-group" id="disliked">
                        <label class="col-sm-4">Unfavoured modules: </label>
                        <disliked></disliked>
                    </div>
                </div>

                <div class="row">
                    <table id="modalTable" class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Degree</th>
                                <th>Module</th>
                                <th>Semester</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">

    <script>
        $(document).ready(function () {

            $('#myTable').DataTable({
                "iDisplayLength": -1,
                "lengthChange": true
            });

            $('.modal-dialog').draggable({
                //  handle: ".modal-header"
            });

            initCalendar();
            $('#calendar').addClass("noCursorPointer");

            getPublishState();
        });

        function tabChange(semester) {
            $('#calendar').fullCalendar('removeEventSource', '/Allocate/getAllocation/')
            $('#calendar').fullCalendar('addEventSource', {
                url: '/Allocate/getAllocation/',
                data: {
                    studentId: -1,
                    semester: semester
                }
            })
        };

        // anchor navigate to the certain table row (to avoid being hidden by top navigation bar)
        window.addEventListener("hashchange", function () { scrollBy(0, -50) })

        //use ajax to get student info into modal according to studentId
        function passStudentId(id) {
            $.ajax({
                url: '/Allocate/getStudentInfo',
                type: 'Get',
                data: {
                    studentId: id
                },
                dataType: 'json',
                success: function (json) {
                    getModal(json);
                }
            });
        }

        function initCalendar() {
            $('#calendar').fullCalendar({

                weekends: false,
                weekNumbers: false,
                minTime: "09:00:00",
                maxTime: "18:00:00",
                firstDay: 1,
                contentHeight: 420,
                defaultView: 'agendaWeek',
                defaultDate: "2016-06-06",
                theme: true,
                allDaySlot: false,
                events: {
                    url: '/Allocate/getAllocation/',
                    data: {
                        studentId: -1,
                        semester: 1
                    },
                },
                eventRender: function (event, element) {

                    var tutors = "";
                    $.each(event.tutorName, function () {
                        var i =0;
                        $.each(this, function () {
                            if (i%2 == 0){
                                tutors += "<a href='#tutor_" + this + "'>";
                            }
                            else{
                                tutors += this + "</a>, ";
                            }
                            i++;
                        })
                    });
                    element.find('.fc-content').append("<tutorName>" + tutors.slice(0, -2) + "</tutorName>");

                    element.qtip({
                        content: {
                            title: event.title,
                            text: "Time: " + event.start.format("dddd HH:mm") + " ~ " + event.end.format("HH:mm")
                                + "<br/>Year: " + event.year
                                + "<br/>Degree: " + event.degree
                                + "<br/>Number of tutors needed: " + event.tutorNumber
                        },
                        position: {
                            my: 'top left',
                            at: 'bottom center'
                        }
                    });

                }

            });
        }

        function getPublishState() {
            $.ajax({
                url: '/Allocate/getPublishState',
                type: 'Get',
                dataType: 'json',
                success: function (json) {
                    if (json) {
                        $("#publishButton").html("Unpublish Allocation");
                    }
                }
            });
        }

        function getModal(json){

            $(".modal-title").text(json.name);
            $("degree").text(json.degree);
            $("matricnumber").text(json.matricNumber);
            $("year").text(json.year);
            $("ni").text(json.NI);
            $("maxhour").text(json.maxHour);
            $("paymentrate").text(json.paymentRate);

            $.each(json.preferences, function () {

                if (this.liked === "") {
                    $("#liked").hide();
                }
                else {
                    $("liked").text(this.liked);
                    $("#liked").show();
                }

                if (this.disliked === "") {
                    $("#disliked").hide();
                }
                else {
                    $("disliked").text(this.disliked);
                    $("#disliked").show();
                }
            });

            var tbl_body = "";
            $.each(json.allocatedLabs, function () {
                var tbl_row = "";
                $.each(this, function () {
                    tbl_row += "<td>" + this + "</td>";
                })

                tbl_body += "<tr>" + tbl_row + "</tr>";
            });
            $("#modalTable tbody").html(tbl_body);
        }



    </script>
}